.tmvv{
    width: 100%;
}

.tdmvv{
    width: 25%;
    font-family: arial;
    color: black;
    overflow: none;
    font-size: 12pt;
}

.pmvv{
    text-align: top;
    text-align: left;
}

.tamanhomvv{
    font-size: 15pt;
    width: 25%;
}